<nav class="navbar navbar-fixed-top header">

    <div id="headdiv" class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="toggle-btn navbar-left" (click)="toggleSideBar()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <span id="menu-username" class="navbar-left"></span>
            </div>

            <div class="col-lg-9">
                <a class="navbar-brand navbar-right brand" href="#"><span id="blogtitle"></span></a>
            </div>

        </div>
    </div>
</nav>

<div [class.active]="sideBarIsOpened" id="sidebar">
    <app-loginform></app-loginform>
</div>
