
<div class="PostViewContainer">
    <h2> Registration</h2>
    <input id="textUserName" type="text" class="textboxPostTitle" placeholder="UserName..." />
    <br />
    <span id="userNameValidationMessage" class="validation-message">User Name can't be empty!</span>
    <br />

    <input id="textPassword" type="password" class="textboxPostTitle" placeholder="Password..." />
    <br />
    <span id="passwordValidationMessage" class="validation-message">Password can't be empty!</span>
    <br />

    <button id="ButtonSignIn" onclick="AuthorizationModule.CreateUser();" class="buttonOnWhitePanel">Register</button>

</div>