

<div class="panel panel-default sidebar"  id="adminpanel" style="text-align: left;" >
    <h4>ADMINISTRATION PANEL</h4>
    <div class="sidebarlistcontainer">
        <ul class="SideBarList">
            <il> @Html.ActionLink("Post creation", "CreateUpdatePost", "Admin")</il>
            <br />
            <il> @Html.ActionLink("Category creation", "CreateCategory", "Admin")</il>
        </ul>
    </div>
</div>
