
@model bizapps_test.MVC.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        <div class="PostViewContainer">
            <h2> Change Password</h2>
            @Html.EditorFor(user => user.UserPassword, new { htmlAttributes = new { @class = "textboxPostTitle", placeholder = "Password..." } })
            @Html.ValidationMessageFor(user => user.UserPassword)<br /><br />

            @Html.EditorFor(user => user.RepeatPassword, new { htmlAttributes = new { @class = "textboxPostTitle", placeholder = "Repeat password..." } })
            @Html.ValidationMessageFor(user => user.RepeatPassword)<br /><br />

            <input type="submit" id="ButtonSignIn" value="Change Password" class="buttonOnWhitePanel" />

        </div>
    }
}