<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="WebApiUrlSection" type="bizapps_test.MVC.CustomConfigSection.WebApiUrlSection, WebApiUrlSection" />
  </configSections>
  <WebApiUrlSection urlpart="http://localhost:49401/api/" />

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
   <add key="UrlPart" value="http://localhost:49401/api/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
   <!--
     
   -->
    <authentication mode="Forms">
      <forms loginUrl="~/Home/Index" timeout="2880">
        <credentials passwordFormat="Clear">
          <user name="testuser" password="secret" />
        </credentials>
      </forms>
    </authentication>
   

    <httpRuntime targetFramework="4.6.1" />
   
   
    <!--
    <httpModules>
      <add name="AuthHttpModule" type="bizapps_test.MVC.Global.Auth.AuthHttpModule"/>
    </httpModules>
    -->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfCategoryService" />
        <binding name="BasicHttpBinding_IWcfBlogUserService" />
        <binding name="BasicHttpBinding_IWcfCommentService" />
        <binding name="BasicHttpBinding_IWcfPostService" />
        <binding name="AsmxCategoryServiceSoap" />
        <binding name="AsmxBlogUserServiceSoap" />
        <binding name="AsmxCommentServiceSoap" />
        <binding name="AsmxPostServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/WcfCategoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfCategoryService" contract="WcfCategoryServiceReference.IWcfCategoryService" name="BasicHttpBinding_IWcfCategoryService" />
      <endpoint address="http://localhost:8080/WcfBlogUserService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfBlogUserService" contract="WcfBlogUserServiceReference.IWcfBlogUserService" name="BasicHttpBinding_IWcfBlogUserService" />
      <endpoint address="http://localhost:8080/WcfCommentService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfCommentService" contract="WcfCommentServiceReference.IWcfCommentService" name="BasicHttpBinding_IWcfCommentService" />
      <endpoint address="http://localhost:8080/WcfPostService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfPostService" contract="WcfPostServiceReference.IWcfPostService" name="BasicHttpBinding_IWcfPostService" />
      <endpoint address="http://localhost:53862/AsmxCategoryService.asmx" binding="basicHttpBinding" bindingConfiguration="AsmxCategoryServiceSoap" contract="AsmxCategoryServiceReference.AsmxCategoryServiceSoap" name="AsmxCategoryServiceSoap" />
      <endpoint address="http://localhost:53862/AsmxBlogUserService.asmx" binding="basicHttpBinding" bindingConfiguration="AsmxBlogUserServiceSoap" contract="AsmxBlogUserServiceReference.AsmxBlogUserServiceSoap" name="AsmxBlogUserServiceSoap" />
      <endpoint address="http://localhost:53862/AsmxCommentService.asmx" binding="basicHttpBinding" bindingConfiguration="AsmxCommentServiceSoap" contract="AsmxCommentServiceReference.AsmxCommentServiceSoap" name="AsmxCommentServiceSoap" />
      <endpoint address="http://localhost:53862/AsmxPostService.asmx" binding="basicHttpBinding" bindingConfiguration="AsmxPostServiceSoap" contract="AsmxPostServiceReference.AsmxPostServiceSoap" name="AsmxPostServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>